*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #134e15;
    font-family: 'Poppins', sans-serif;
}

.quiz_box{
    min-height: 30rem;
    max-width: 35rem;
    border-radius: 0.70rem;
    background-color: #ffffff;
    margin: 1.5rem auto;
    padding: 1.25rem;
}

.quiz_box .score-board{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}

.quiz_box .score-board .counter{
    font-weight: 600;
    float: left;
    width: 60%;
    color: #4caf50;
    padding: 0.25rem;
}

.quiz_box .score-board .counter h3{
    padding: 0;
    margin: 0;
}

.quiz_box .score-board .score h4{
    background-color: #4caf50;
    padding: 0.25rem 1rem;
    border-radius: 0.50rem; 
    margin: 0;
    box-shadow: 0px 2px 0px #81C784;
    outline: none;
}

.question{
    padding: 0.80rem 0;
    border-radius: 0.25rem;
    font-size: 25px;
    width: 100%;
    float: left;
}

.options div{
    font-size: 19px;
    background-color: #dcedc8;
    width: 100%;
    margin-top: 0.80rem;
    border-radius: 0.65rem;
    padding: 0.75rem;
    box-shadow: 0px 2px 0px #A5D6A7;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.options div.disabled{
    pointer-events: none;
}

.options div.correct{
    z-index: 1;
    color: #fff;
}

.options div.correct::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    background-color: #4caf50;
    box-shadow: 0px 2px 0px #A5D6A7;
    height: 100%;
    z-index: -1;
    animation: animateBackground 1s ease;
    animation-fill-mode: inherit;
}

.options div.wrong{
    z-index: 1;
    color: #fff;
}

.options div.wrong::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #ec4340;
    box-shadow: 0px 2px 0px #A5D6A7;
    z-index: -1;
    animation: animateBackground 1s ease;
    animation-fill-mode: inherit;
}

.options div:active{
    box-shadow: 0px 0px 0px transparent;
}

.next-button{
    display: flex;
    width: 100%;
    padding-bottom: 0.5rem;
    align-content: center;
}

.next-button .btn{
    background-color: #4caf50;
    padding: 0.5rem 3rem;
    border: 0;
    border-radius: 0.65rem;
    font-size: 17px;
    margin: 0.65rem 0 0.80rem;
    cursor: pointer;
    box-shadow: 0px 2px 0px #81C784;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.next-button .btn:active{
    box-shadow: 0px 0px 0px transparent; 
}

.answersCounter{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.answersCounter div{
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.answersCounter div.correct{
    background-color: #4caf50;
}

.answersCounter div.wrong{
    background-color: #ec4340;
}

.gameOver{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 2, 2, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.gameOver.show{
    display: flex;
}

.gameOver .overBox{
    background-color: #10d01f;
    padding: 0.90rem;
    border-radius: 0.45rem;
    text-align: center;
    flex-basis: 35rem;
    max-width: 30rem;
    color: #ffffff;
}

.gameOver .overBox h1{
    font-size: 30px;
    margin: 0 0 0.80rem;
}

.gameOver .overBox button{
    padding: 15px 50px;
    border: none;
    background-color: #2196F3;
    border-radius: 0.65rem;
    font-size: 16px;
    margin: 0.65rem 0 0.80rem;
    color: #ffffff;
    cursor: pointer;
}

.gameOver .overBox button:hover{
    background-color: #2196F3;
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 